body {
    margin: 0; /* Elimina el margen por defecto */
    padding: 0; /* Elimina el padding por defecto */
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Color de fondo neutro */
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Arial', sans-serif;
    border: 2px solid #ffa07a; /* Color de borde naranja suave */
    padding: 30px; /* Aumenta el padding */
    margin: 20px 20px 0 20px; /* Agrega márgenes superior y laterales */
    width: calc(100% - 40px); /* Ajusta el ancho para considerar los márgenes laterales */
    box-sizing: border-box; /* Asegura que el padding y el borde estén dentro del tamaño del elemento */
    position: relative; /* Asegura que los elementos hijos se posicionen correctamente */
    background-color: #ffffff; /* Color de fondo blanco */
    color: #333333; /* Color de texto */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

p {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    padding: 10px; /* Agrega un padding pequeño */
    color: #333333; /* Color de texto */
}

.clase {
    text-align: left;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    text-decoration: underline;
    padding: 10px; /* Agrega un padding pequeño */
    color: #333333; /* Color de texto */
}

.centrado {
    text-align: center; /* Centra el texto */
    text-decoration: none; /* Elimina cualquier text-decoration */
    font-family: 'Arial', sans-serif; /* Establece la fuente */
    font-size: 30px; /* Establece el tamaño de la fuente */
    margin-bottom: 5px; /* Reduce el margen inferior */
}

.centra2 {
    text-align: center; /* Centra el texto */
    text-decoration: none; /* Elimina cualquier text-decoration */
    font-family: 'Arial', sans-serif; /* Establece la fuente */
    font-size: 20px; /* Establece el tamaño de la fuente */
    margin-top: 20px; /* Aumenta el margen superior */
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Arial', sans-serif;
    border: 2px solid #ffa07a; /* Color de borde naranja suave */
    padding: 30px; /* Aumenta el padding */
    margin: 20px auto; /* Agrega márgenes superior y laterales y centra el elemento */
    width: calc(100% - 40px); /* Ajusta el ancho para considerar los márgenes laterales */
    box-sizing: border-box; /* Asegura que el padding y el borde estén dentro del tamaño del elemento */
    background-color: #ffffff; /* Color de fondo blanco */
    color: #333333; /* Color de texto */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

ul {
    list-style-type: none; /* Elimina los puntos de lista */
    padding: 0; /* Elimina el padding por defecto */
    display: flex;
    justify-content: space-between;
}

li {
    text-align: center;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    flex: 1;
    background-color: #ffffff; /* Fondo blanco */
    border: 2px solid #ffa07a; /* Color de borde naranja suave */
    padding: 10px; /* Padding */
    border-radius: 10px; /* Bordes redondeados */
    margin: 10px; /* Agrega un margen a los enlaces */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

li a {
    display: block; /* Asegura que el enlace sea un bloque */
    padding: 10px; /* Agrega un padding pequeño a los enlaces */
    background-color: #ffffff; /* Agrega un fondo blanco a los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #ffa07a; /* Establece el color del texto de los enlaces */
    border-radius: 10px; /* Bordes redondeados */
}

li a:hover {
    text-decoration: underline; /* Subraya el enlace al pasar el cursor por encima */
    background-color: #ffb07a; /* Color de fondo al pasar el cursor */
}

.img-corner {
    width: 100px; /* Ajusta el tamaño del logo */
    height: auto;
    position: absolute;
    left: 0px; /* Posiciona el logo a la izquierda */
    filter: hue-rotate(0deg); /* Mantiene el color original del logo */
    border-radius: 10px; /* Bordes redondeados */
}

a.volver-inicio {
    position: absolute;
    right: 10px; /* Posiciona el enlace a la derecha */
    font-family: 'Arial', sans-serif;
    color: #333333; /* Color de texto */
    text-decoration: none;
    padding: 10px; /* Aumenta el padding */
    border: 2px solid #ffa07a; /* Color de borde naranja suave */
    background-color: #ffffff; /* Color de fondo blanco */
    box-sizing: border-box; /* Asegura que el padding y el borde estén dentro del tamaño del elemento */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

a.volver-inicio:hover {
    text-decoration: underline; /* Subraya el enlace al pasar el cursor por encima */
    background-color: #ffb07a; /* Color de fondo al pasar el cursor */
}

